
{% extends 'base.html' %}

{% block body %}
   
    <h1>Find out what houses are for sale in your area?</h1>

    <form id="form" action="/" method="POST"> 
        <input type="text" id="query" name="query" placeholder="Enter your 4 digit postcode...">
        <input type="submit" id="search" value="Search">
    </form>

    <p class="message">This will only work for Australian postcodes!</p>

   <a href="https://github.com/learner1unknown/homes-for-sale" target="_blank">
      <img src="http://assets.stickpng.com/images/5847f98fcef1014c0b5e48c0.png" alt="Github"></a>

{% endblock %}
